$Dictonary$

In [2]:
l1=['Ram', 'Rahennm', 'Robert']
l2=[25,30,40]
for i,j in zip(l1,l2):
    print("{} has age {} ".format(i,j))

Ram has age 25
Rahennm has age 30
Robert has age 40

In [8]:
a,b=[2,3]
c,d=(32,43)
a=1,2
a

(1, 2)

In [12]:
d2={'A':34,'A':34}
d2

{'A': 34}

In [13]:
type(d2)

dict

In [14]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)  # Union: {1, 2, 3, 4, 5}
print(set1 & set2)  # Intersection: {3}
print(set1 - set2)  # Difference: {1, 2}
print(set1 ^ set2)

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

In [32]:
df={100:'3',200:'4'}
(df)

300

$LOOP$

In [39]:
d1={'Ram': 25, 'Raheem': 30, 'Robert':40}
print(len(d1))

3

In [36]:
for i in d1:
    print(i)

Ram
Raheem
Robert

In [38]:
for key in d1:
    print(key,d1[key])

Ram 25
Raheem 30
Robert 40

In [1]:
names=['Ram', 'Raheem', 'Robbert']
age=[23,45,65]

In [8]:
dict1={}
for i in range(len(names)):
    dict1[names[i]]:age[i]
    
dict1={names[i]:age[i] for i in range(len(names))}
dict1

{'Ram': 23, 'Raheem': 45, 'Robbert': 65}

In [9]:
for names,age in zip(names,age):
    print(names,age)

Ram 23
Raheem 45
Robbert 65

In [12]:
from random import randint
e1={}
{'even':[20,22], 'odd':[19,21,23]}
evL='23','324'
od='3','5'

('23', '324')

In [13]:
import random

# Step 1: Take an empty dictionary
even_odd_dict = {}

# Step 2: Create empty lists for even and odd numbers
even_list = []
odd_list = []

# Step 3: Get the number of random numbers to generate
num_numbers = int(input("Enter the number of random numbers to generate: "))

# Step 4: Generate random numbers and add them to their respective lists
for i in range(num_numbers):
  num = random.randint(1, 100)  # Change the range as needed
  if num % 2 == 0:
    even_list.append(num)
  else:
    odd_list.append(num)

# Step 5: Add the even and odd lists to the dictionary
even_odd_dict["even"] = even_list
even_odd_dict["odd"] = odd_list

# Step 6: Print the dictionary
print(even_odd_dict)

Enter the number of random numbers to generate: 5
{'even': [58], 'odd': [5, 19, 99, 67]}

In [16]:
import random

ev_odd={}
ev_list=[]
odd_list=[]
num=int(input("Enter the range of random number : "))
        
for i in range(num):
        n1=random.randint(1,100)
        if n1%2==0:
            ev_list.append(num)
        else:
            odd_list.append(num)
ev_odd['Even']=ev_list
ev_odd['odd']=odd_list
print(ev_odd)

Enter the range of random number : 4
{'Even': [4, 4, 4], 'odd': [4]}

In [17]:
import os
os.getcwd()

'/home/bane/py'

In [31]:
names={'Ram': 23, 'Raheem':30,'Robert':40}
keys=list(names.values())
#al=list(age.keys())
print(keys)
val=list(names.keys())
val

[23, 30, 40]

['Ram', 'Raheem', 'Robert']

In [40]:
{i:j for i,j in zip(keys,val)}

{'R': 'Ram', 'o': 'Raheem', 'b': 'Robert'}

In [37]:
for keys in names:
    print(keys,names[keys])

Ram 23
Raheem 30
Robert 40

In [51]:
d6={'Ram': 23, 'Rex': 30, 'Rami': 35}
d8={}
for i in range(len(keys)):
    d8[keys[i]]=values[i]
    
d8

NameError: name 'values' is not defined

In [54]:
s1='virat.kohli@blr.com, Rohit.sharma@mumbai.com, kl.rahul@lucknow.com'
for i in range(len(keys)):
    print(i)

0
1
2
3
4
5

In [55]:
type(s1)

str

In [65]:
str1='can can you canner can you able to can canner'
ca=str1.count('can')
yo=str1.count('you')
canne=str1.count('canner')
y=str1.count('you')
d1={}
d1["'can' repeat"]=ca
d1["'you' repeat"]=yo
d1["'canner' repeat"]=canne
d1["'you' repeat"]=y
d1

{"'can' repeat": 6, "'you' repeat": 2, "'canner' repeat": 2}

In [70]:
d1={'a': 50, 'b':30, 'c':40}
d2={'a': 20, 'b':100, 'c':200}
d3={}
for i,j in zip(d1,d2):
        d1[i]+=d2[i]
d1

{'a': 70, 'b': 130, 'c': 240}

In [71]:
d1={'a': 50, 'b':30, 'c':40}
d2={'a': 20, 'b':100, 'c':200}
d3={}
if len(d1)==len(d2):
    for i in d1:
        d3[i]=d1[i]+d2[i] #d3['a']=d2['a']+d1['a']
d3

{'a': 70, 'b': 130, 'c': 240}

In [85]:
d1={'a':34, 'b':31, 'c':44}
d2=d1.copy()
d1.clear()
print(d1)
print(d2)

{}
{'a': 34, 'b': 31, 'c': 44}

In [77]:
d2.pop('a')

34

In [79]:
d2.popitem()

('c', 44)

In [80]:
d2

{'b': 31}

In [87]:
del d2

In [84]:
del keys
keys

NameError: name 'keys' is not defined

In [88]:
d2=d1.fromkeys('Raheem')
d2 #none is for value

{'R': None, 'a': None, 'h': None, 'e': None, 'm': None}

In [96]:
d3={}.fromkeys('Raheem', 25)#d1 does'nt modify and update

In [90]:
d3

{'R': 25, 'a': 25, 'h': 25, 'e': 25, 'm': 25}

In [94]:
name="sourav"
name.capitalize()
name

'sourav'

In [95]:
name

'sourav'

In [100]:
d1={}
d1.setdefault('nareshit', 'Ds')
d1

{'nareshit': 'Ds'}

In [101]:
d1={'a':25, 'b':30, 'c':35}
d2={'b':34, 'd': 40}
d1.update(d2)
d1

{'a': 25, 'b': 34, 'c': 35, 'd': 40}