In [3]:
list1=[100, 200, 300]
list2=[25,30,35]
output=[i+j for i,j in zip(list1,list2)]
output

[125, 230, 335]

In [8]:
list1=[1,2,3,4,5]

#a=list(map(lambda i:i*i, list1))
for i in map(lambda i:i*i, list1):
    print(i)

1
4
9
16
25

In [55]:
even=[]
odd=[]
import random
for num in range(5):
    num=random.randint(0,100)
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
num_out={"even" : even,"odd" :odd}
print(num_out)

{'even': [62, 96], 'odd': [41, 25, 41]}

In [64]:
d1={'HEY':34, 'HOW':32}
d2={}
d2=d1.copy()
d4=d1.clear()
print(d2)
print(d1)

{'HEY': 34, 'HOW': 32}
{}

In [57]:
type(d2)

dict

In [71]:
s=list()
type(s)

list

In [79]:
d2={'s':45, 'sd':23, 'gh':78}
d2.get( 's')

45

In [81]:
d2={}.fromkeys([2,34,5], 'odd')
d2

{2: 'odd', 34: 'odd', 5: 'odd'}

In [97]:
d1={}
d1.setdefault('Naresh', ['dfg','dfg','fgfd'])
d1['Naresh']=['ew', 'r']
#d1.setdefault('city', 'df')
d1

{'Naresh': ['ew', 'r']}

In [89]:
d2={}
d2['naersh']='ea'
d2

{'naersh': 'ea'}

In [102]:
s4={'a':34,'b':48, 'c':23}
dw={'anand':'sir'}
s4.update(dw)
print(s4)

{'a': 34, 'b': 48, 'c': 23, 'anand': 'sir'}

In [106]:
t2=[(23,53), (26,98)]
t3={}
t3.update(t2)
t3

{23: 53, 26: 98}

42

In [120]:
list1=['hyd', 'mumbai', 'chennai']
s=[lambda i:i.capitalize(), list1]

[<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'chennai']]

In [122]:
list2=[]
for i in list1:
    list2.append(i.capitalize())
list2

['Hyd', 'Mumbai', 'Chennai']

In [128]:
[i.capitalize() for i in list1]

['Hyd', 'Mumbai', 'Chennai']

In [137]:
s=[lambda i: i.capitalize() ,list1]
s(list1)

TypeError: 'list' object is not callable

In [144]:
list1=['hyd', 'mum', 'chennai']
lambda i:i.capitalize(), list1
map(lambda i:i.capitalize(), list1)
a=list(map(lambda i:i.capitalize(), list1))
a

['Hyd', 'Mum', 'Chennai']

In [147]:
list1=[1,2,3,4,5]
lambda i:i*i, list1 
map(lambda i:i*i, list1)
d=list(map(lambda i:i*i, list1))

In [150]:
d

[1, 4, 9, 16, 25]

In [151]:
list1=['h#y', 'm3m','chennai']
map(lambda i:list1 if i=='#' else list1)
list(map(lambda i: list1 if i=='#' else list1))

TypeError: map() must have at least two arguments.

In [160]:
for i in list1:
    if i=='#':
        print("The hasses are:  " .format(i))
    else:
        print("The no hasses are: " .format(i))

The no hasses are:
The no hasses are:
The no hasses are:

In [20]:
list1=['h#d', 'm#m', 'sadfgh']
list2=[]
for i in list1:
    if '#' in i:
        list2.append(i)
print(list2)

['h#d', 'm#m']

In [24]:
[i for i in list1 if '#' in i]

['h#d', 'm#m']

In [29]:
lambda i: '#' in i, list1
map(lambda i: '#' in i, list1)
list(map(lambda i: '#' in i, list1))

[True, True, False]

In [ ]:
lambda i: '#' in i, list1
list()